<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.8" targetFramework="net40-Client" />
  <package id="ApprovalUtilities" version="3.0.8" targetFramework="net40-Client" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.0.0.0014" targetFramework="net45" />
</packages>